<mat-card>

  <mat-card-header>
    <mat-card-title class='text-info'>
      <h5>Enter the transaction</h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form novalidate #tradeForm='ngForm' (ngSubmit)='addTrade()'>
      <mat-button-toggle-group #group='matButtonToggleGroup' [(ngModel)]='type' name='type' (ngModelChange)='onTypeChanged($event)'>
        <mat-button-toggle value='B'>
          <div class='toolbutton'>
            <mat-icon>add box</mat-icon>
            <span>Buy</span>
          </div>
        </mat-button-toggle>
        <mat-button-toggle value='S'>
          <div class='toolbutton'>
            <mat-icon>remove box</mat-icon>
            <span>Sell</span>
          </div>
        </mat-button-toggle>
        <mat-button-toggle value='D'>
          <div class='toolbutton'>
            <mat-icon>stars</mat-icon>
            <span>Div</span>
          </div>

        </mat-button-toggle>
      </mat-button-toggle-group>


      <div [ngClass]='highlightBasedOnType()'>
        <div class='form-row'>

          <div class="form-group col-md-6">
            <label for='stockField'>Stock</label>

            <mat-form-field>
              <input id='stockField' class='form-control' matInput required type="text" placeholder="kya liya" [matAutocomplete]='stockAuto'
                [(ngModel)]='model.stock' (ngModelChange)='updateStocksDropdown($event)' name='stock' #stockModel='ngModel'>
              <mat-autocomplete #stockAuto='matAutocomplete'>
                <mat-option *ngFor='let stock of filteredStocks' [value]='stock'>{{stock}}</mat-option>
              </mat-autocomplete>
              <mat-error *ngIf='!stockModel.valid'>Stock name is required</mat-error>
            </mat-form-field>

          </div>
          <div class="form-group col-md-6">
            <label for='dateField'>Date</label>

            <mat-form-field>
              <input matInput id='dateField' class='form-control' [matDatepicker]="picker" placeholder="kab liya" [(ngModel)]='model.date'
                name='date'>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [startAt]="model.date" touchUi='true'></mat-datepicker>
            </mat-form-field>

          </div>
        </div>


        <div *ngIf='this.type !== "D"'>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="qtyField">Quantity</label>
              <mat-form-field class='st3-num-field'>
                <input matInput id='qtyField' type="number" class="form-control" [(ngModel)]='model.qty' name='qty'>
              </mat-form-field>
            </div>

            <div class="form-group col-md-4">
              <label for="priceField">Price</label>
              <mat-form-field class='st3-num-field'>
                <input matInput id='priceField' type="number" class="form-control text-right" [(ngModel)]='model.price' name='price'>
              </mat-form-field>
            </div>

            <div class="form-group col-md-4 ">
              <label for="brokerageField">Brokerage</label>
              <mat-form-field class='st3-num-field'>
                <input matInput id='brokerageField' type="number" class="form-control text-right" [(ngModel)]='model.brokerage' name='brokerage'>
              </mat-form-field>
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-4 ">
              <label for="amountField">Amount</label>
              <mat-form-field class='st3-num-field'>
                <input matInput id='amountField' type="number" class="form-control text-right" [disabled]='true' [ngModel]='model.amount()'
                  name='amount'>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div *ngIf='this.type === "D"'>
          <div class="form-row">
            <div class="form-group col-md-4 ">
              <label for="amountField">Amount</label>
              <mat-form-field class='st3-num-field'>
                <input matInput id='amountField' type="number" class="form-control text-right" [(ngModel)]='model.amount' name='amount'>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <mat-form-field id='matFormFieldNotes'>
              <textarea matInput id='notesField' type="text" class="form-control" placeholder='Notes' [(ngModel)]='model.notes' name='notes'></textarea>
            </mat-form-field>

          </div>
        </div>

      </div>

      <div class="form-row">
        <span class="col-md-5"></span>
        <button mat-raised-button class='col-md-2' color='primary' type='submit' [disabled]='!tradeForm.valid'>Add</button>
        <span class="col-md-5"></span>

      </div>
    </form>

  </mat-card-content>

</mat-card>