#matFormFieldNotes{
    min-width: 300px;
  
}

.form-group{
    margin-bottom: 0px;
}
.mannKaRadio{
    margin-left: 16px;
}

.st3-num-field{
    max-width: 100px;
}
.st3-num-field input{
    text-align: right;
}