<div class="st2-container">
  <form class='header' [formGroup]='formModel' novalidate>

    <mat-form-field>
      <mat-select placeholder='Select account' formControlName='accountId'>
        <mat-option *ngFor='let a of accountOptions' [value]='a.id'>{{a.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="grid-summary">
      <mat-form-field>
        <input matInput formControlName='filter' (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder='Group by' formControlName='group' (selectionChange)='onGroupChanged($event.value)'>
          <mat-option *ngFor='let clause of groupClauses' [value]='clause'>{{clause}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>

  <mat-tab-group class='content' (selectedIndexChange)='switchContent($event)'>
    <mat-tab label='Holdings'>
      <st2-holdings-list class='tab-content' [isActive]='selectedTabIndex === 0 ' [currentFinYear]='currentFinYear()' [accountId]='this.model.accountId'
        [group]='this.model.group' [filter]='this.model.filter'></st2-holdings-list>
    </mat-tab>
    <mat-tab label='Gains'>
      <st2-gains-list class='tab-content' [isActive]='selectedTabIndex === 0 ' [currentFinYear]='currentFinYear()' [accountId]='this.model.accountId'
        [group]='this.model.group' [filter]='this.model.filter'></st2-gains-list>
    </mat-tab>
  </mat-tab-group>
</div>