.loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0,0,0,0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.holdings-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    
}
.mat-cell{
    font-size: 12px;
}
.mat-row{
    min-height: 32px;
}
.mat-header-cell.mat-sort-header-sorted {
    color: black;
  }

.grid-header{
    padding: 8px 16px;
}