.loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0,0,0,0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* right align numeric columns */
.mat-cell.mat-column-qty, .mat-cell.mat-column-price, .mat-cell.mat-column-cost, .mat-cell.mat-column-marketPrice, .mat-cell.mat-column-gain, .mat-cell.mat-column-gainPc, .mat-cell.mat-column-roi{
    text-align: right;
}

/* width */
.mat-column-stock{
    flex: 1 0 80px;
}
.mat-column-date{
    flex: 0 0 90px;
    text-align: center;
}
.mat-column-age{
    flex: 0 0 70px;
    text-align: center;
}
.mat-column-price, .mat-column-marketPrice, .mat-column-gain,  .mat-column-cost{
    flex: 0 0 80px;
}
.mat-column-qty{
    flex: 0 0 50px;
}
.mat-column-gainPc, .mat-column-roi{
    flex: 0 0 60px;
}
.mat-column-notes{
    flex: 2 0 80px;
}

mat-row.nuksaan {
    background-color: rgba(255, 160, 122, 0.15);
}
mat-row.nuksaan > mat-cell{
    color: red;
}

mat-row.nafaa{
    background-color: rgba(144, 238, 144, 0.24);
}


/* summary card header */
.mat-card{
    padding: 0;
}
.mat-card-header{
    display: flex;
    padding: 8px;
}
.spacer{
    flex: 1 0 auto;
}
